// rbb colors
$red: #e31818
$background-grey: #EAEAEA
$light-grey: #D5D5D5
$grey: #868686
$dark-grey: #585856

// secondary colors
$bordeaux: #821423
$blue: #34A2CD
$mint: #57B695

// export for use in js
\:export
  red: $red
  backgroundGrey: $background-grey
  lightGrey: $light-grey
  grey: $grey
  darkGrey: $dark-grey
  bordeaux: $bordeaux
  blue: $blue
  mint: $mint
