@import 'global_styles/colors';

.wrapper {
  &:hover {
    bottom: 0;
  }

  .infoWrapper {
    display: inline-block;
    height: 100%;
    pointer-events: all;

    &:hover .infoBox {
      display: inline-block;
    }

    .infoButton {
      background-color: transparent;
      border: 0;
      color: $darkGrey;
      margin: 0;
      padding: 0;
      pointer-events: all;
    }

    .infoBox {
      background-color: $darkGrey;
      border-radius: 1px;
      color: white;
      cursor: auto;
      display: none;
      font-size: 12px;
      margin: 4px 21px 0 20px;
      max-width: 100vw;
      overflow: auto;
      padding: 5px 8px;
      position: absolute;
      vertical-align: top;

      a {
        color: white;
      }
    }
  }
}
